.themebanner{
    height: 434px;
    background-image:linear-gradient(360deg, rgba(44, 44, 45, 0.08) 1.88%, rgba(44, 44, 45, 0.34) 29.75%, rgba(44, 44, 45, 0.34) 61.75%, rgba(44, 44, 45, 0.18) 97.85%), url(https://sl3-cdn.karousell.com/homescreens/main/sg_web_homepage/electronics/banner/hero_electronics.1.png);
    background-size: cover;
    padding: 100px !important;
}