.conditionBtn .active  {
    background-color: blue;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.26);
}

#drop-area.highlight {
    
    border-color: purple;
}

#preview-container {
    display: flex;
    flex-wrap: wrap;
}

.preview-image {
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
}
#cover-preview{
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
}
#cover-preview>p{
    background-color: black;
    color: white;
    margin: 0;
}
#cover-preview img{
    margin: 0;
}